body{
    background-color: black;
    width: 100vw;
}
.leftbox{

    /* border: 2px solid red; */
    width: 300px;
    /* display: inline; */
    display: inline-block;
}
/* .rightbox{
    border: 2px solid blue;
    width: 300px;
    margin-left: 2000px;
    display: inline-block;
} */
.leftbox img{
    height: 94px;
    width: 167px;
}
*{
    margin: 0;
    padding: 0;
}
.rightbox{
    /* border: 2px solid blue; */
    width: 200px;
    display: inline-block;
    /* margin-left: 45px; */
    /* margin-right: 0px; */
    margin-left: 85%;
    position: relative;
    bottom: 83px;
    /* width: 6%; */
    padding-left: 85px;

}
.contactbutton{
    /* border: 2px solid green; */
    border-radius: 14px;
    height: 34px;
    width: 81px;
    background-color: black;
    color: red;
    cursor: pointer;
}
.container{
    /* border: 2px solid yellow; */
    color: white;
    text-align: center;
    /* width: 100vw; */
    /* height: 100vh; */
    /* margin: 50% auto; */
    margin-top: 190px;
    /* margin-bottom: 45px; */
    padding-bottom: 60px;
}
.container h1{
    font-size: 55px;
    
}
.centerbox{
    /* border: 2px solid green; */
    display: inline-block;
    /* display: flex; */
    /* width: 500px; */
    margin-left: 375px;
    position: relative;
    bottom: 105px;
    /* flex-direction: row; */
    /* margin-right: 3px; */

    
}
.centerbox li{
    display: inline;
    padding-left: 75px;
    font-size: 27px;
    
}
.centerbox a{
    text-decoration: none;
    color: yellow;
}
.centerbox ul{
    padding: 13px;
}
.centerbox a:hover{
    color: #ff0b9d;
    /* background-color: aqua; */
    text-decoration: underline;
    font-size: 29px
}
.heading{
    /* border: 2px solid grey; */
    text-align: center;
    
    /* background-color: rgb(189 165 183); */
    /* display: inline-block; */
    /* justify-content: center; */
    /* margin: 0 auto; */
}
.heading h2{
    text-decoration: underline;
    /* color: rgb(0, 0, 0); */
    color: rgb(11 163 57);
}
.contestants{
    border: 2px solid grey;
    height: 543px;
    width: 550px;
    /* background-image: url(https://images.hindustantimes.com/img/2022/06/06/1600x900/73ef39ec-e589-11ec-a635-885b646977d8_1654515103852.jpg);
    background-repeat: no-repeat;
    background-size: 3px; */
    text-align:center;
    display: inline-block;
    margin-left: 6px;
    
    background-color: rgb(201 180 180);
    border-radius: 22px;
    
}
#contestant2{
    position: relative;
    top: -23px;
}
#contestant2 .noofvotes{
    margin-top: 90px;
}
#contestant3 .noofvotes{
    margin-top: 46px;
}
.contestants img{
    /* height: 200px;
    width: 200px; */
    height: 238px;
width: 366px;
align-items: center;
margin-top: 4px;
}
.biography{
text-align: left;
justify-content: left;
margin-left: 2px;
color: green;
font-size: 20px;
}
.button{
/* border: 2px solid yellow; */
display: inline-block;
margin: auto;

}
.button a{
display: inline-block;
text-align: center;
text-decoration: none;
border: 2px solid rebeccapurple;
font-size: 20px;
border-radius: 7px;
color: red;
}
.button a:hover{
text-decoration: underline;
border: none;
color: yellow;
}
.noofvotes{
border: 2px solid red;
/* display: inline-block; */
width: 300px;
height: 25px;
border-radius: 200px;
margin: auto;
margin-bottom: 9px;
/* color: green; */
background-color: gray;
}
#contestant3 img{
height: 290px;
width: 230px;
} 

